<body style=" background-color: gainsboro;">
    <class div style="padding:50px;">
        <h3 style="text-align:center;">Historical background</h3>
    </class>
    <div class="text-justify">
        <p> In 1972, at the suggestion of ONS-Blagoevgrad, MNP allowed admission through a competitive exam in mathematics to 3 classes of 8th grade with extended study of mathematics at PG "Cyril and Methodius". This is the beginning of the future Mathematical High School. </p>
        <p> Dr. Tatiana Yadkova has been the director since 1998. </p>
        <p>
            In 1998 One of the first in the region structures of the student self-government - the Student Parliament - was established in the high school and enjoys great authority and trust.
            The Parliament consists of 90 representatives and is chaired by a Board of Directors consisting of 5 students from 8th to 12th grade and a Board of Speakers consisting of 30 students.
            The Student Parliament represents and protects the rights and interests
        </p>
        <p>
            At the initiative of the parliament and with the support of the management, the Day of Student Self-Government is held annually - the management of the school is taken over by the students.
            Every year at Christmas a traditional show is organized, with a lot of mood and laughter the students send off the old and welcome the new year.
            At the end of May in honor of the graduates is held a show "Anti-Awards" - a trademark of the school.
        </p>
        <p>
            The high school has about 900 students in 32 classes.
            The teaching staff consists of 65 teachers with high professional qualities, three have first and 13 second qualifications.
        </p>
        <p>
            In PMG ”Acad. SP Korolyov ”students from all over the country are accepted. The term of training is 5 years.
            Graduating students receive a high school diploma and a certificate of computer literacy with the studied topics and hours of classes in informatics and information technology.
            The school has 8 computer rooms, a modern gym and a library with over 5000 volumes. The high school also offers a dormitory, which is located near it.
        </p>
    </div>

    <div style="float:left;">
        <h5 style="padding-bottom:20px">Alumni of the school are:</h5>
        <p>
            <b> Rosen Plevneliev </b> - former President of the Republic of Bulgaria
        </p>
        <p>
            <b> Atanas Kambitov </b> - former mayor of Blagoevgrad
        </p>
        <p>
            <b> Ivaylo Zlatanov </b> - Head of RIE of MES
        </p>
        <p>
            <strong> Regional governors of Blagoevgrad region </strong> - Anton Bratchkov, Boris Maskruchki
        </p>
        <p>
            <b> MPs </b> - Ilian Popov, Nikolay Tomov, Marina Dikova and others.
        </p>
    </div>
    <img style="float: right; width:320px; height:auto;" src="~/Images/PMGSchool.jpg" />
</body>