<body style=" background-color: gainsboro;">
    <class div style="padding:50px;">
        <h3 style="text-align:center;">Историческа справка</h3>
    </class>
    <p> През 1972 година по предложение на ОНС-Благоевград МНП разрешава прием чрез конкурсен изпит по математика на 3 паралелки 8 клас с разширено изучаване на математика към ПГ ”Кирил и Методий”. Така се поставя началото на бъдещата Математическа гимназия.</p>
    <p> От 1998 г. година е директор д-р Татяна Ядкова.</p>
    <p>
        През 1998г. в гимназията е създадена и се ползва с голям авторитет и доверие една от първите в региона структури на ученическото самоуправление – Ученически парламент.
        Парламентът се състои от 90 представители и се ръководи от Управителен съвет, в който членуват 5 ученици от 8 до 12 клас и Съвет на говорителите, състоящ се от 30 ученици.
        Ученическият парламент представлява и защитава правата и интересите
    </p>
    <p>
        По инициатива на парламента и с подкрепата на ръководството ежегодно се провежда Ден на ученическото самоуправление-управлението на училището се поема от учениците.
        Всяка година по Коледа се организира традиционно шоу, с много настроение и смях учениците изпращат старата и посрещат новата година.
        В края на месец май в чест на абитуриентите се провежда шоу ”Антинагради”- запазена марка на училището.
    </p>
    <p>
        В гимназията се обучават около 900 ученици в 32 паралелки.
        Учителският колектив се състои от 65 учители с високи професионални качества, трима притежават първа и 13 втора квалификационна степен.
    </p>
    <p>
        В ПМГ ”Акад. С. П. Корольов” се приемат ученици от цялата страна. Срокът на обучение е 5 години.
        Завършващите ученици получават диплома за завършено средно образование и удостоверение за компютърна грамотност с изучаваните теми и хорариум часове по информатика и информационни технологии.
        Училището разполага с 8 компютърни кабинети, модерен физкултурен салон и библиотека с над 5000 тома. Гимназията предлага и общежитие, което се намира в близост до нея.
    </p>
    <div style="float:left;">
        <h5 style="padding:20px;">Възпитаници на училището са:</h5>
        <p>
            <b>Росен Плевнелиев</b> – бивш президент на Република България
        </p>
        <p>
            <b>Атанас Камбитов </b>– бивш кмет на Благоевград
        </p>
        <p>
            <b>Ивайло Златанов </b>– началник на РИО на МОН
        </p>
        <p>
            <strong>Областни управители на Благоевградска област</strong> – Антон Бръчков, Борис Маскръчки
        </p>
        <p>
            <b>Народни представители </b>– Илиан Попов, Николай Томов, Марина Дикова и др.
        </p>
    </div>           
        <img style="float: right; width:400px; height:auto;" src="~/Images/PMG-image.jpg" />  
</body>